body {
  height: 100%;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fa-btn {
  margin-right: 6px;
}

.row {
  margin: 10px 0;
}

.color-red {
  color: #b22411;
}

ul.toolbar {
  li {
    display: inline-block;
    padding-right: 10px;
  }
}

.articles-index {
  article {
    margin-bottom: 30px;
    ul {
      li {
        display: inline-block;
        margin-right: 30px;
        i {
          padding-right: 5px;
        }
      }
    }
    .short-content {
      a {
        color: #333;
      }
    }
  }
}

.user-show {
  ul {
    margin-top: 10px;
    li {
      margin: 10px 0;
    }
  }
}

footer {
  color: #666;
}